<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
  <link rel="stylesheet" href="/public/index.css">
  <title>Document</title>
</head>
<body>
  <div class="global">
    <div class="login-from">
      <div class="login-title">Login</div>
      <form action="/" method="POST">
        <div class="input-area">
          <input class="login-input" placeholder="ID">
          <input class="login-input" placeholder="Password">
        </div>
        <div class="login-btn-area">
          <button type="submit" class="btn login-btn">Login</button>
        </div>
      </form>
      <form action="/" method="GET">
        <div class="join-area"></div>
      </form>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script>

  </script>
</body>
</html>