<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
  <link rel="stylesheet" href="/public/join.css">
  <title>Document</title>
</head>
<body>
  <div class="global">
    <div class="join-form">
      <div class="join-title">Join</div>

        <div class="join-area">
          <input class="join-input new-id" placeholder="ID" name="id">
          <input class="join-input new-pw" placeholder="Password" name="pw">
        </div>
        <div class="join-btn-area">
          <button class="btn join-btn">Join</button>
        </div>

    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script>
    $('.btn').click(function(){
      const reg = /^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$/
      const txt = String($('.new-pw').val())

      if(!txt.match(reg)){
        console.log(reg.test(txt))
        alert("비밀번호 정규식 규칙 위반!")
      } else{
        console.log(reg.test(txt))
        console.log(txt)
        $.ajax({
          method : 'POST',
          url : '/join',
          data : {id : String($('.new-id').val()), pw : String($('.new-pw').val())},
          complete : function(resp){
            console.log(resp.getAllResponseHeaders())
          }
        }).done((결과)=>{
          window.location.replace('/')
        }).fail((xhr,code,err) => {
          alert(xhr.responseJSON.message)
        })
      }
    })
  </script>
</body>
</html>